.card {
  padding: 20px;
}

.title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 32px;
}

.address {
  font-size: 20px;
}

.email {
  font-size: 16px;
}

.avatar {
  width: 140px;
  margin: auto;
}

.avatar img {
  border: solid 6px transparent;
  border-radius: 50%;
}

.avatar img:hover {
  border-color: gray
}

.btn {
  border-radius: 25px;
}
.btn1 {
  display: inline-block;
  padding: 6px 9px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background-color: #0077cc;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn1:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #0066aa;
}

.space {
  row-gap: 10px;
  display: flex;

}

.space1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.cardheader {
  padding: 20px;
  background-color: #f2f2f2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #5e4caf;
}

.cardheader h2 {
  margin: 0;
  font-size: 64px;
  font-weight: bold;
  color: black;
}

.cardbody {
  padding: 20px;
  color: #5e4caf;
}

.cardbody p {
  margin-top: 0;
  margin-bottom: 20px;
}